<section class="slice bg-ecodev pb-7 pt-0">
  <div data-offset-top="#navbar-main">
    <div class="container py-5">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-8 text-center">
          <%= image_tag "landing_man.png" %>
          <h1 class="text-white mb-5 landing-header">Una nueva forma de potenciar tu carrera generando impacto social</h1>
          <%= link_to "¡Quiero ver proyectos!", projects_path, class: "btn btn-outline-white rounded-xl" %>
        </div>
      </div>
    </div>
    <div class="shape-container shape-position-bottom">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
        <path d="M 0 0 c 0 0 200 50 500 50 s 500 -50 500 -50 v 101 h -1000 v -100 z"></path>
      </svg>
    </div>
  </div>
</section>

<section class="slice">
  <div class="container">
    <div class="row row-grid justify-content-around align-items-center">

      <div class="col-md-5 text-center text-md-left">
        <h5 class="h2">¿Qué es Ecodev?</h5>
        <p class="lead my-4">Es una plataforma para personas que quieran desarollarse profesionalmente, utilizando sus conocimientos en un proyecto real y de forma voluntaria.
        <br><br>Esto les permite crecer al mismo tiempo que aportan a una organización y generan impacto social.</p>
        <a href="users/sign_up" class="btn bg-ecodev text-white">
          <span class="btn-inner--text">Conocer más</span>
        </a>

      </div>
      <div class="col-md-6 order-md-1">
        <%= image_tag("landing1.jpeg", class: "img-fluid rounded shadow-lg") %>
      </div>
    </div>
  </div>
</section>

<section class="slice bg-section-secondary">
  <div class="container">
    <div class="row row-grid justify-content-around align-items-center">
      <div class="col-md-5 order-md-2 text-center text-md-left">
        <h5 class="h2">Organizaciones</h5>
        <p class="lead my-4">Si sos una organización, podés postular tu iniciativa y buscar personas que quieran desarrollarse aportando al proyecto, y lo mejor de todo, ¡totalmente gratis!</p>
        <a href="users/sign_up" class="btn bg-ecodev text-white">
          <span class="btn-inner--text">Conocer más</span>
        </a>
      </div>

      <div class="col-md-6 order-md-1">
        <%= image_tag("landing2.jpeg", class: "img-fluid rounded shadow-lg") %>
      </div>
  </div>
</section>

<section class="slice clients delimiter-top delimiter-bottom">
  <div class="container">
    <div class="mb-5 text-center">
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing</h3>
      <div class="fluid-paragraph mt-3">
        <p class="lead lh-180">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        </p>
      </div>
    </div>
  </div>
</section>
