<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.description %></td>
    <td><%= project.user_id %></td>
  </tr>
<% end %>
